alembic==1.17.2
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
backports.tarfile==1.2.0
build==1.3.0
CacheControl==0.14.4
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cleo==2.1.0
click==8.3.1
crashtest==0.4.1
distlib==0.4.0
dulwich==0.24.10
fastapi==0.127.1
fastjsonschema==2.21.2
filelock==3.20.1
findpython==0.7.1
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
importlib_metadata==8.7.1
installer==0.7.0
jaraco.classes==3.4.0
jaraco.context==6.0.2
jaraco.functools==4.4.0
keyring==25.7.0
Mako==1.3.10
mangum==0.20.0
MarkupSafe==3.0.3
more-itertools==10.8.0
msgpack==1.1.2
packaging==25.0
pbs-installer==2025.12.17
pkginfo==1.12.1.2
platformdirs==4.5.1
poetry==2.2.1
poetry-core==2.2.1
psycopg==3.3.2
psycopg-binary==3.3.2
psycopg2-binary==2.9.11
pycparser==2.23
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
pyproject_hooks==1.2.0
python-dotenv==1.2.1
PyYAML==6.0.3
RapidFuzz==3.14.3
requests==2.32.5
requests-toolbelt==1.0.0
shellingham==1.5.4
SQLAlchemy==2.0.45
starlette==0.50.0
-e git+https://github.com/kuniyoshi-y/subscription-app-backend.git@4776fafe99eb78b58fe2e36ceb24c063074399dc#egg=subs_backend
tomlkit==0.13.3
trove-classifiers==2025.12.1.14
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.2
uvicorn==0.40.0
uvloop==0.22.1
virtualenv==20.35.4
watchfiles==1.1.1
websockets==15.0.1
xattr==1.3.0
zipp==3.23.0
zstandard==0.25.0
